<tr>
    <td>
        {{name}}
    </td>
    <td>
        {{timestamp}}
    </td>
    <td>
        <form action="/request.php" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="clientType" value="browser">
            <button>
                Request Data
            </button>
        </form>
    </td>
    <td>
        <form action="/request.php" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <input type="hidden" name="clientType" value="app">
            <button>
                Request Data
            </button>
        </form>
    </td>
</tr>
