<html>
    <head>
        <title>
            {{title}}
        </title>
        {{head}}
    </head>
    <body>
        <table>
            <tr>
                <th>
                    Name of Retina Model
                </th>
                <th>
                    Date Uploaded
                </th>
                <th>
                    Browser Request
                </th>
                <th>
                    App Request
                </th>
            </tr>
            {{retina_model_rows}}
        </table>
    </body>
</html>
